<div class="jumbotron" id="portada">
  <div class="container">
    <h2>Bienvenido a las Recetas de Julia</h2>
    <p>Martes de Mole al 2 x 1</p>
    <%= link_to "Registrate","", class: "btn btn-success btn-portada" %>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Ver recetas como Visitante</h3>
        <%= link_to "Ver recetas", "", class: "btn btn-success btn-recetas" %>
      </div>
      <div class="col-md-4">
        <h3>Ver recetas como Visitante</h3>
        <%= link_to "Ver recetas", "", class: "btn btn-success btn-recetas" %>
      </div>
      <div class="col-md-4">
        <h3>Ver recetas como Visitante</h3>
        <%= link_to "Ver recetas", "", class: "btn btn-success btn-recetas" %>
      </div>
    </div>
  </div>